{% load static %}
<link rel="shortcut icon" type="image/ico" href="{% static 'media/icon.ico' %}">
<head>
    <title>CP Specification</title>
</head>


<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container">
    <form method="get" action="{% url 'index' %}">
        <button type="submit">До списку замовлень</button>
    </form>
    {% include "./login_base.html" %}


<div class="form-pdf" id="form-pdf">
    <div class="header">
        <div class="enter-header">
            <h3>Бланк замовлення №: <input type="text" value="{{table.order_number}}" class="info-value" id="order-number"></h3>
    <div class="manager">
        <div>Менеджер: {{user.get_full_name}} Номер менеджера: {{user.get_username}}</div>
    </div>
    <div><b>{{date}}</b></div>

    <form method="post" action="{% url 'new_order' %}">
        {% csrf_token %}
        <button type="submit" id="new">Нове замовлення</button>
    </form>
        </div>

    </div>
    <div class="content">
        {% if html %}
            {{ html|safe }}
        {% else %}
            <table id="table">
                <thead>
                    <tr>
                        <th class='cell' rowspan="3">№</th>
                        <th class='cell' rowspan="3">Модель</th>
                        <th class='cell' rowspan="3">Тип коробу</th>
                        <th class='cell td-opening' rowspan="3">Відкривання</th>
                        <th class='cell vertical' rowspan="3">Сторона</th>
                        <th class='cell' colspan="2" rowspan="2">Полотно</th>
                        <th class='cell' colspan="2" rowspan="2">Короб</th>
                        <th class='cell' colspan="2" rowspan="2">Отвір</th>
                        <th class='cell' rowspan="3">Оздоблення полотна</th>
                        <th class='cell' rowspan="3">Алюм обв'язок</th>
                        <th class='cell' rowspan="3">Колір фарбування</br> профілю</th>
                        <th class='cell' rowspan="3">Колір ущільнювача</th>
                        <th class='cell' colspan="3" rowspan="1">Врізання</th>
                        <th class='cell' rowspan="3">Колір фурн</th>
                        <th class='cell vertical' rowspan="3">к-сть</th>
                        <th class='cell' rowspan="2">Ціна</th>
                        <th class='cell' rowspan="2">Усього</th>
                    </tr>
                    <tr>
                        <th class='cell' colspan="2">Отвори</th>
                        <th class='cell' rowspan="2">Петлі</th>
                    </tr>
                    <tr>
                        <th class='cell' rowspan="1">Ширина мм </br>лице\тил</th>
                        <th class='cell'>Висота мм </br>лице\тил</th>
                        <th class='cell'>Ширина мм</th>
                        <th class='cell'>Висота мм</th>
                        <th class='cell'>Ширина мм</th>
                        <th class='cell'>Висота мм</th>
                        <th class='cell'>Ручка</th>
                        <th class='cell'>WC/PZ</th>
                        <th class='cell'>грн</th>
                        <th class='cell'>грн</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        {% endif %}

        <div class="info">
            <div class="price">
                <div class="info_price">
                    <span class="bold">Всього за дверні блоки грн: </span>
                    <span id="full-price-value" class="info-value"></span>

                </div>
                <div class="info_price inline-div">
                    <span>Знижка %: </span>
                    <input placeholder="0-100" type="number" id="discount-value" class="info-value" name="" min="0" max="100" value="{{table.sale}}">
                </div>
                <div class="info_price">
                    <span class="bold">Всього, з урахуванням знижки грн: </span>
                    <span id="full-price-discount-value" class="info-value"></span>

                </div>
                <div class="info_price inline-div">
                    <span>Доставка на склад(об'єкт) без вивантаження та занесення на поверх грн: </span>
                    <input placeholder="" type="number" id="delivery-value" class="info-value" name="" min="0" max="999999999" value="{{table.delivery}}">

                </div>
                <div class="info_price inline-div">
                    <span>Монтаж за 1 блок грн: </span>
                    <input placeholder="" type="number" id="instal-value" class="info-value" name="" min="0" max="99999999" value="{{table.install}}">

                </div>
                <div class="info_price inline-div">
                    <span>Заміри грн: </span>
                    <input placeholder="" type="number" id="zamery-value" class="info-value" name="" min="0" max="99999999" value="{{table.measurements}}">

                </div>
                <div class="info_price inline-div">
                    <span class="bold">Всього за послуги грн:</span>
                    <span id="poslugy"></span>
                </div>
                <div class="info_price">
                    <span>Всього сума замовлення грн: </span>
                    <span id="total-ex-vat-value" class="info-value"></span>

                </div>
                <div class="info_price inline-div">
                    <span class="bold">Передплата %: </span>
                    <input placeholder="0-100" type="number" id="prepayment-value" class="info-value" name="" min="0" max="100" value="{{table.prepayment}}">

                </div>
                <div class="info_price inline-div">
                    <span class="bold">Передплата грн: </span>
                    <span id="prepayment-percent"></span>
                </div>
                <div class="info_price">
                    <span class="bold">Залишок грн: </span>
                    <span id="remainder-value" class="info-value"></span>

                </div>
            </div>
            <div class="client-info">
                <div>Місто: <input id="city" value="{{table.city}}" class="info-value inp-15"></div>
                <div>Замовник: <input id="client" value="{{table.client}}" class="info-value inp-15"></div>
                <div>Контакти: <input id="client-contact" value="{{table.client_contact}}" class="info-value inp-15"></div>
                <div>Доставка замовлення: <input id="delivery-info" value="{{table.delivery_info}}" class="info-value inp-15"></div>
                <div>Електронна адреса: <input type='email' id="client-email" value="{{table.client_email}}" class="info-value inp-15"></div>
            </div>
            <div>
                <span>Висота ручки: 1000 мм. від низу полотна.</br>
                    Зазор від підлоги до полотна: 8 мм.</br>
                    Без вартості ручок.</br>
                    <span><b>Термін виготовлення: 1-4 тижнів</b> з моменту погодження та внесення передоплати.</span>
                </span>
                </br>
                <label for="note">Примітка:</label></br>
                <textarea resize="none" name="note" id="note" rows="8" cols="70" class="info-value" value="{{table.note}}"></textarea><br>
                {% if is_diller_manager %}
                    <label for='price_type' class='bold'>Тип ціни:</label>
                    <select name="price_type" id="price-type" class="select_price_type get-data">
                        <option value='diller'>Ціни для дилера</option>
                        <option value='rrc'>РРЦ</option>
                    </select>
                {% endif %}
            </div>
        </div>
    </div>

</div>


{% if door_block_list %}
<table id="form-table">
    <thead>
        <tr>
            <th class='cell' rowspan="3">Модель</th>
            <th class='cell' rowspan="3">Тип коробу</th>
            <th class='cell td-opening' rowspan="3">Відкривання</th>
            <th class='cell vertical' rowspan="3">Сторона</th>
            <th class='cell' colspan="2" rowspan="2">Полотно</th>
            <th class='cell' colspan="2" rowspan="2">Короб</th>
            <th class='cell' colspan="2" rowspan="2">Отвір</th>
            <th class='cell' rowspan="3">Оздоблення полотна</th>
            <th class='cell' rowspan="3">Алюм обв'язок</th>
            <th class='cell' rowspan="3">Колір фарбування</br> профілю</th>
            <th class='cell' rowspan="3">Колір ущільнювача</th>
            <th class='cell' colspan="3" rowspan="1">Врізання</th>
            <th class='cell' rowspan="3">Колір фурн</th>
            <th class='cell vertical' rowspan="3">к-сть</th>
            <th class='cell' rowspan="2">Ціна</th>
            <th class='cell' rowspan="2">Усього</th>
        </tr>
        <tr>
            <th class='cell' colspan="2">Отвори</th>
            <th class='cell' rowspan="2">Петлі</th>
        </tr>
        <tr>
            <th class='cell' rowspan="1">Ширина мм </br>лице\тил</th>
            <th class='cell'>Висота мм </br>лице\тил</th>
            <th class='cell'>Ширина мм</th>
            <th class='cell'>Висота мм</th>
            <th class='cell'>Ширина мм</th>
            <th class='cell'>Висота мм</th>
            <th class='cell'>Ручка</th>
            <th class='cell'>WC/PZ</th>
            <th class='cell'>грн</th>
            <th class='cell'>грн</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class='cell' rowspan="2">
                <select name="model" id="select-model" class='model get_filtered_data'>
                    <option value="" disabled selected>Модель</option>
                    {% for door in door_block_list %}
                    {% ifchanged door.model %}
                    <option value="{{ door.model }}">{{ door.model }}</option>
                    {% endifchanged %}
                    {% endfor %}
                </select>
            </td>
            <td class='cell' rowspan="2">
                <select name="frame" id="select-frame" class='frame get-data get_filtered_data'>
                    <option value="" disabled selected>Тип коробу</option>
                </select>
            </td>
            <td class='cell td-opening'>
                <select name="opening" id="select-opening" class='opening'>
                    <option value="" disabled selected>Відкривання</option>
                    <option value="Ліве">Ліве</option>
                    <option value="Праве">Праве</option>
                </select>
            </td>
            <td class='cell'>
                <span>лицьова</span>
            </td>
            <td class='cell'>
                <select name="width" id="select-width" class='width get-data get_filtered_data'>
                    <option value="" disabled selected>Ширина мм</option>
                </select>
            </td>
            <td class='cell'>
                <select name="height" id="select-height" class='height get-data'>
                    <option value="" disabled selected>Висота мм</option>
                </select>
            </td>
            <td class='cell' rowspan="2">
                <span id="aperture-width"></span>
            </td>
            <td class='cell' rowspan="2">
                <span id="aperture-height"></span>
            </td>
            <td class='cell' rowspan="2">
                <span id="frame-width"></span>
            </td>
            <td class='cell' rowspan="2">
                <span id="frame-height"></span>
            </td>
            <td class='cell' rowspan="2">
                <span id="is-primed"></span>
            </td>
            <td class='cell' rowspan="2">
                <span id="al-band-canvas"></span>
            </td>
            <td class='cell' rowspan="2">
                <span id="profile-frame-color"></span>
            </td>
            <td class='cell' rowspan="2">
                <span id="seal-color"></span>
            </td>
            <td class='cell' rowspan="2">
                <select name="pen" id="is-pen-face" class='is-pen'>
                    <option value="+" selected>+</option>
                    <option value="-">-</option>
                </select>
            </td>
            <td class='cell' rowspan="2">
                <select name="pen" id="is-wc-face" class='is-pen'>
                    <option value="WC" selected>WC</option>
                    <option value="PZ">PZ</option>
                    <option value="-">-</option>
                </select>
            </td>
            <td class='cell' rowspan="2">
                <span id="loop">2</span>
            </td>
            <td class="cell" rowspan="2">
                <span id="furn-color"></span>
            </td>
            <td class='cell count' rowspan="2">
                <input placeholder="кол-во" type="number" name="" id="count" min="1" max="99">
            </td>
            <td class='cell' rowspan="2">
                <span class="price" id='price'></span>
            </td>
            <td class='cell total-price' rowspan="2">
                <span class="total-price" id='total-price'></span>
            </td>
        </tr>
        <tr>
            <td class='cell'>
                <select name="opening-2" id="select-opening-2" class='opening'>
                    <option value="" disabled selected>Відкривання</option>
                    <option value="Наружное">Наружное</option>
                    <option value="Внутреннее">Внутреннее</option>
                </select>
            </td>
            <td class='cell'>
                <span>тил</span>
            </td>
            <td class='cell'>
                <span id="back-width"></span>
            </td>
            <td class='cell'>
                <span id="back-height"></span>
            </td>
        </tr>
    </tbody>
</table>
{% endif %}
</div>
<button type="button" id="add">Додати двері</button>
</br>
</br>
<form method="post" action="{% url 'create_excel_specification' table.id %}">
    {% csrf_token %}
    <button type="submit">Завантажити Excel</button>
</form>

<form method="get" action={% url 'create_pdf_specification' table.id %}>
    <button type="submit" id="gen-pdf">Завантажити PDF</button>
</form>

<div class="opening-photo">
    <img src="{% static "media/opening.jpg" %}" class="opening-img">
    <img src="{% static "media/opening-2.png" %}" class="opening-img2">
</div>

<div id="order_id" hidden>{{table.id}}</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{% static 'js/index.js' %}" type="module"></script>
<script src="{% static 'js/get_data.js' %}" type="module"></script>
<script src="{% static 'js/get_total_price.js' %}" type="module"></script>
<script src="{% static 'js/cookies.js' %}" type="module"></script>
<script src="{% static 'js/select_model.js' %}" type="module"></script>
<script src="{% static 'js/gen_pdf.js' %}" type="module"></script>